<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Reads</title>
    <script src="https://kit.fontawesome.com/b795da5b50.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style8.css">
    <link rel="icon" href="images/book.png" type="image/png">
</head>

<div class="container">

    <div class="form-box">
        <h1 id="title">Forgot Password</h1>

        <% if (typeof errorMessage != "undefined") { %>
            <div class="error-message" style="color: red;">
                <%= errorMessage %>
            </div>
        <% } %>
        
        <form id="form" action="/resetPassword" method="post">
            <div class="input-group">

                <input type="hidden" name="token" value="<%= token %>">
               
                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="New Password" id="passwordInput" name="password" required>
                </div>

                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Confirm Password" id="passwordInput" name="confirmPassword" required>
                </div>

            </div>

            <div class="btn-field">
                <button type="submit">Continue</button>
            </div>
        
        </form>
    </div> 
</div>

</body>
</html>