<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Share Reads</title>
    <link rel="stylesheet" href="css/style4.css"> 
</head>
<body>
    <section id="hero">
        <div class="container">
            <div>
                <p class="subtitle">Welcome to Share Reads</p>
                <h1 class="title">Give your old books a new life! <br>
                    share them with ease on our platform!</h1>

                    <form action="/welcome" method="post">
                        <div class="btn-container">
                            <button class="btn">Start Sharing</button>
                        </div>
                    </form>
            
                    
            </div>
        </div>
    </section>
    
</body>
</html>